div{
    background-color: rgb(255, 127, 212);
    min-height: 50px;
    max-width: 250px;
    display: inline;
}

span{
    background-color: rgb(50, 189, 161);
    max-width: 50px;
    min height: 50px;
    display: inline;
}
🥲😶‍🌫️