@font-face {
    src: url(fonts/Roboto-VariableFont_wdth\,wght.ttf);
    font-family: Roboto-Light;
}
@font-face {
    font-family: Roboto-Light;
    src: url(fonts/OpenSans-VariableFont_wdth\,wght.ttf);
}


h1{
    font-family: Roboto-Light, Verdana, arial;
 
}
p{
    font-family: "Open sans";
    font-size: 1em;
    font-weight: bold;
    font-style: italic;
}